# Environment Variables
NODE_ENV=development
PORT=5000

# MongoDB Connection
MONGODB_URI=mongodb+srv://ogmandatory_db:rushiyan172138@mandatory.pyimksc.mongodb.net/?retryWrites=true&w=majority&appName=Mandatory

# JWT Secret
JWT_SECRET=c155c8ade0770b9e67d3224d177ee8b9258ec6befb788829bf876f2235aa1e436fbc9ee5f8438530db9704f85afb2239cc49456f941c3fe1e8aef0632f60d6bd

# Admin Credentials (Fixed)
ADMIN_EMAIL=admin@gpm.edu.in
ADMIN_PASSWORD=admin123

# CORS Origin
CORS_ORIGIN=http://localhost:5173
