/* Print styles for Leaving Certificate */
@media print {
  @page {
    size: A4;
    margin: 15mm;
  }

  body * {
    visibility: hidden;
  }
  
  .certificate-print, .certificate-print * {
    visibility: visible;
  }
  
  .certificate-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
    background: white;
    page-break-after: always;
  }
  
  .no-print {
    display: none !important;
  }
  
  .certificate-print img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 15px;
  }
  
  .certificate-print h1 {
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20pt;
    page-break-after: avoid;
  }
  
  .certificate-print h2 {
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10pt;
    page-break-after: avoid;
  }
  
  .certificate-print p {
    font-size: 12pt;
    line-height: 1.6;
    margin-bottom: 8pt;
    page-break-inside: avoid;
  }
  
  .certificate-print .certificate-content {
    font-size: 11pt;
    line-height: 1.4;
  }
  
  .certificate-print .certificate-content p {
    margin-bottom: 6pt;
    page-break-inside: avoid;
  }
  
  .certificate-print .certificate-content span {
    font-weight: bold;
  }
}



