/* Print styles for Leaving Certificate */
@media print {
  body * {
    visibility: hidden;
  }
  
  .certificate-print, .certificate-print * {
    visibility: visible;
  }
  
  .certificate-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background: white;
  }
  
  .no-print {
    display: none !important;
  }
  
  .certificate-print {
    page-break-after: always;
  }
  
  .certificate-print h1 {
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20pt;
  }
  
  .certificate-print h2 {
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10pt;
  }
  
  .certificate-print p {
    font-size: 12pt;
    line-height: 1.4;
    margin-bottom: 8pt;
  }
  
  .certificate-print .certificate-content {
    font-size: 11pt;
    line-height: 1.3;
  }
  
  .certificate-print .certificate-content p {
    margin-bottom: 6pt;
  }
  
  .certificate-print .certificate-content span {
    font-weight: bold;
  }
}



